html,
body {
  margin: 0;
  min-height: 100%;
}
body {
  overflow: auto;
}
.pb-style-1 {
  width: 860px;
  height: 560px;
  transform: none;
  display: block;
  position: relative;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  gap: normal;
  grid-template-columns: none;
  grid-template-rows: none;
  flex-flow: row;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: normal;
  place-content: normal;
  overflow: visible;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
  border: 0px solid rgb(24, 24, 27);
  border-radius: 0px;
  box-shadow: none;
  color: rgb(24, 24, 27);
  font-family: Arial, Pretendard, sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
  text-decoration: none;
  opacity: 1;
  filter: none;
  transform-origin: 0px 0px;
  white-space: normal;
  object-fit: fill;
  z-index: auto;
}
.pb-style-2 {
  left: 0px;
  top: 0px;
  transform: none;
  z-index: 1;
  display: block;
  position: absolute;
  width: 860px;
  height: 560px;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  gap: normal;
  grid-template-columns: none;
  grid-template-rows: none;
  flex-flow: row;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: normal;
  place-content: normal;
  overflow: hidden;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgb(247, 244, 239);
  border: 0px solid rgb(24, 24, 27);
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 3px 18px 0px;
  color: rgb(24, 24, 27);
  font-family: Arial, Pretendard, sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
  text-decoration: none;
  opacity: 1;
  filter: none;
  transform-origin: 0px 0px;
  white-space: normal;
  object-fit: fill;
}
.pb-style-3 {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 860px;
  height: 560px;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  gap: 8px;
  grid-template-columns: none;
  grid-template-rows: none;
  flex-flow: row;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: flex-end;
  place-content: normal;
  overflow: visible;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
  border: 0px solid rgb(24, 24, 27);
  border-radius: 0px;
  box-shadow: none;
  color: rgb(24, 24, 27);
  font-family: Arial, Pretendard, sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
  text-decoration: none;
  opacity: 1;
  filter: none;
  transform: none;
  transform-origin: 430px 280px;
  white-space: normal;
  object-fit: fill;
  z-index: auto;
}
.pb-style-4 {
  width: 860px;
  height: 148.984px;
  max-width: none;
  position: absolute;
  left: 0px;
  top: 0px;
  transform: none;
  z-index: 2;
  display: block;
  box-sizing: border-box;
  padding: 8px;
  margin: 0px;
  gap: normal;
  grid-template-columns: none;
  grid-template-rows: none;
  flex-flow: row;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: center;
  place-content: normal center;
  overflow: visible;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgba(255, 255, 255, 0.8);
  border: 1px dashed rgb(170, 170, 170);
  border-radius: 0px;
  box-shadow: none;
  color: rgb(24, 24, 27);
  font-family: Arial, Pretendard, sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
  text-decoration: none;
  opacity: 1;
  filter: none;
  transform-origin: 430px 74.4922px;
  white-space: normal;
  object-fit: fill;
}
.pb-style-5 {
  width: 860px;
  height: 395px;
  max-width: none;
  position: absolute;
  left: 0px;
  top: 148px;
  transform: none;
  z-index: 3;
  display: block;
  box-sizing: border-box;
  padding: 8px;
  margin: 0px;
  gap: normal;
  grid-template-columns: none;
  grid-template-rows: none;
  flex-flow: row;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: center;
  place-content: normal center;
  overflow: visible;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgb(237, 233, 254);
  border: 1px dashed rgb(170, 170, 170);
  border-radius: 0px;
  box-shadow: none;
  color: rgb(24, 24, 27);
  font-family: Arial, Pretendard, sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
  text-decoration: none;
  opacity: 1;
  filter: none;
  transform-origin: 430px 197.5px;
  white-space: normal;
  object-fit: fill;
}
.pb-style-6 {
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 858px;
  height: 393px;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  gap: 6px;
  grid-template-columns: none;
  grid-template-rows: none;
  flex-flow: row;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: flex-start;
  place-content: normal;
  overflow: visible;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
  border: 0px solid rgb(24, 24, 27);
  border-radius: 0px;
  box-shadow: none;
  color: rgb(24, 24, 27);
  font-family: Arial, Pretendard, sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
  text-decoration: none;
  opacity: 1;
  filter: none;
  transform: none;
  transform-origin: 429px 196.5px;
  white-space: normal;
  object-fit: fill;
  z-index: auto;
}
.pb-style-7 {
  width: 110px;
  height: 32px;
  max-width: none;
  position: absolute;
  left: 114px;
  top: 140px;
  transform: none;
  z-index: 4;
  display: flex;
  box-sizing: border-box;
  padding: 6px;
  margin: 0px;
  gap: normal;
  grid-template-columns: none;
  grid-template-rows: none;
  flex-flow: row;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  place-content: normal center;
  overflow: hidden;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgba(255, 255, 255, 0.8);
  border: 1px dashed rgb(170, 170, 170);
  border-radius: 0px;
  box-shadow: none;
  color: rgb(24, 24, 27);
  font-family: Arial, Pretendard, sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
  text-decoration: none;
  opacity: 1;
  filter: none;
  transform-origin: 55px 16px;
  white-space: normal;
  object-fit: fill;
}
.pb-style-8 {
  display: flex;
  position: static;
  left: auto;
  top: auto;
  width: 40.9531px;
  height: 18px;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  gap: 5px;
  grid-template-columns: none;
  grid-template-rows: none;
  flex-flow: column;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: center;
  place-content: normal center;
  overflow: visible;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
  border: 0px solid rgb(24, 24, 27);
  border-radius: 0px;
  box-shadow: none;
  color: rgb(24, 24, 27);
  font-family: Arial, Pretendard, sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
  text-decoration: none;
  opacity: 1;
  filter: none;
  transform: none;
  transform-origin: 20.4766px 9px;
  white-space: normal;
  object-fit: fill;
  z-index: auto;
}
.pb-style-9 {
  width: 32px;
  height: 32px;
  max-width: none;
  position: absolute;
  left: 143px;
  top: 67px;
  transform: none;
  z-index: 5;
  display: flex;
  box-sizing: border-box;
  padding: 4px;
  margin: 0px;
  gap: normal;
  grid-template-columns: none;
  grid-template-rows: none;
  flex-flow: row;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  place-content: normal center;
  overflow: hidden;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);
  border: 1px dashed rgb(170, 170, 170);
  border-radius: 0px;
  box-shadow: none;
  color: rgb(101, 69, 232);
  font-family: Arial, Pretendard, sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
  text-decoration: none;
  opacity: 1;
  filter: none;
  transform-origin: 16px 16px;
  white-space: normal;
  object-fit: fill;
}
.pb-style-10 {
  display: flex;
  position: static;
  left: auto;
  top: auto;
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  gap: 5px;
  grid-template-columns: none;
  grid-template-rows: none;
  flex-flow: column;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: center;
  place-content: normal center;
  overflow: visible;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
  border: 0px solid rgb(101, 69, 232);
  border-radius: 0px;
  box-shadow: none;
  color: rgb(101, 69, 232);
  font-family: Arial, Pretendard, sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
  text-decoration: none;
  opacity: 1;
  filter: none;
  transform: none;
  transform-origin: 11px 11px;
  white-space: normal;
  object-fit: fill;
  z-index: auto;
}
.pb-style-11 {
  color: rgb(101, 69, 232);
  display: block;
  position: static;
  left: auto;
  top: auto;
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  gap: normal;
  grid-template-columns: none;
  grid-template-rows: none;
  flex-flow: row;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: normal;
  place-content: normal;
  overflow: visible;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
  border: 0px solid rgb(101, 69, 232);
  border-radius: 0px;
  box-shadow: none;
  font-family: Arial, Pretendard, sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
  text-decoration: none;
  opacity: 1;
  filter: none;
  transform: none;
  transform-origin: 11px 11px;
  white-space: normal;
  object-fit: fill;
  z-index: auto;
}
.pb-style-12 {
  display: block;
  position: static;
  left: auto;
  top: auto;
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  gap: normal;
  grid-template-columns: none;
  grid-template-rows: none;
  flex-flow: row;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: normal;
  place-content: normal;
  overflow: hidden;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
  border: 0px solid rgb(101, 69, 232);
  border-radius: 0px;
  box-shadow: none;
  color: rgb(101, 69, 232);
  font-family: Arial, Pretendard, sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
  text-decoration: none;
  opacity: 1;
  filter: none;
  transform: none;
  transform-origin: 11px 11px;
  white-space: normal;
  object-fit: fill;
  z-index: auto;
}
.pb-style-13 {
  display: inline;
  position: static;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  gap: normal;
  grid-template-columns: none;
  grid-template-rows: none;
  flex-flow: row;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: normal;
  place-content: normal;
  overflow: visible;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
  border: 0px solid rgb(101, 69, 232);
  border-radius: 0px;
  box-shadow: none;
  color: rgb(101, 69, 232);
  font-family: Arial, Pretendard, sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
  text-decoration: none;
  opacity: 1;
  filter: none;
  transform: none;
  transform-origin: 0px 0px;
  white-space: normal;
  object-fit: fill;
  z-index: auto;
}
.pb-style-14 {
  width: 341px;
  height: 49px;
  max-width: none;
  position: absolute;
  left: 187px;
  top: 49px;
  transform: none;
  z-index: 6;
  display: flex;
  box-sizing: border-box;
  padding: 4px;
  margin: 0px;
  gap: normal;
  grid-template-columns: none;
  grid-template-rows: none;
  flex-flow: row;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  place-content: normal center;
  overflow: hidden;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);
  border: 1px dashed rgb(170, 170, 170);
  border-radius: 0px;
  box-shadow: none;
  color: rgb(101, 69, 232);
  font-family: Arial, Pretendard, sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
  text-decoration: none;
  opacity: 1;
  filter: none;
  transform-origin: 170.5px 24.5px;
  white-space: normal;
  object-fit: fill;
  outline: none;
  outline-offset: 0px;
}
.pb-style-15 {
  display: flex;
  position: static;
  left: auto;
  top: auto;
  width: 195.438px;
  height: 18px;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  gap: 5px;
  grid-template-columns: none;
  grid-template-rows: none;
  flex-flow: column;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: center;
  place-content: normal center;
  overflow: visible;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
  border: 0px solid rgb(101, 69, 232);
  border-radius: 0px;
  box-shadow: none;
  color: rgb(101, 69, 232);
  font-family: Arial, Pretendard, sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
  text-decoration: none;
  opacity: 1;
  filter: none;
  transform: none;
  transform-origin: 97.7188px 9px;
  white-space: normal;
  object-fit: fill;
  z-index: auto;
}
.pb-style-16 {
  display: flex;
  position: static;
  left: auto;
  top: auto;
  width: 195.438px;
  height: 18px;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  gap: 8px;
  grid-template-columns: none;
  grid-template-rows: none;
  flex-flow: wrap;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: flex-start;
  place-content: normal flex-start;
  overflow: visible;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
  border: 0px solid rgb(63, 63, 70);
  border-radius: 0px;
  box-shadow: none;
  color: rgb(63, 63, 70);
  font-family: Arial, Pretendard, sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
  text-decoration: none;
  opacity: 1;
  filter: none;
  transform: none;
  transform-origin: 97.7188px 9px;
  white-space: normal;
  object-fit: fill;
  z-index: auto;
}
.pb-style-17 {
  display: flex;
  position: static;
  left: auto;
  top: auto;
  width: 59.8125px;
  height: 18px;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  gap: 4px;
  grid-template-columns: none;
  grid-template-rows: none;
  flex-flow: row;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: center;
  place-content: normal;
  overflow: visible;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
  border: 0px solid rgb(63, 63, 70);
  border-radius: 0px;
  box-shadow: none;
  color: rgb(63, 63, 70);
  font-family: Arial, Pretendard, sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
  text-decoration: none;
  opacity: 1;
  filter: none;
  transform: none;
  transform-origin: 29.9062px 9px;
  white-space: nowrap;
  object-fit: fill;
  z-index: auto;
}
.pb-style-18 {
  display: block;
  position: static;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  gap: normal;
  grid-template-columns: none;
  grid-template-rows: none;
  flex-flow: row;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: normal;
  place-content: normal;
  overflow: visible;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
  border: 0px rgb(63, 63, 70);
  border-radius: 0px;
  box-shadow: none;
  color: rgb(63, 63, 70);
  font-family: Arial, Pretendard, sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
  text-decoration: none;
  opacity: 1;
  filter: none;
  transform: none;
  transform-origin: 9px 9px;
  white-space: nowrap;
  object-fit: fill;
  z-index: auto;
}
.pb-style-19 {
  display: block;
  position: static;
  left: auto;
  top: auto;
  width: 37.8125px;
  height: 11px;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  gap: normal;
  grid-template-columns: none;
  grid-template-rows: none;
  flex-flow: row;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: normal;
  place-content: normal;
  overflow: hidden;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
  border: 0px solid rgb(63, 63, 70);
  border-radius: 0px;
  box-shadow: none;
  color: rgb(63, 63, 70);
  font-family: Arial, Pretendard, sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
  text-decoration: none;
  opacity: 1;
  filter: none;
  transform: none;
  transform-origin: 18.9062px 5.5px;
  white-space: nowrap;
  object-fit: fill;
  z-index: auto;
}
